// --define variable--
$primaryColor: #51459e;
$iconBg: #eceff7;
$activeColor: #1c295d;
$smtext: 1.2rem;
$smtextLg: 1.3rem;

// -- header area start --
header {
  padding: 1.8rem 0rem;
  background-color: #fff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.headerWrapper {
  padding: 0rem 3.5rem;
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .logo a {
    img {
      display: inline-block;
      width: 3rem;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
    }

    span {
      display: inline-block;
      text-transform: uppercase;
      color: $primaryColor;
      font-size: 1.9rem;
      font-weight: 700;
      margin-left: 1.9rem;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
    }
  }
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  .searchInput {
    width: 48rem;
    border: 0.1rem solid #f0f0f0;
    border-radius: 1rem;
    padding: 0.5rem;
    padding-left: 2rem;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;

    input {
      display: block;
      width: 100%;
      border: 0;
      outline: none;
      color: #7c8db5;
      font-size: 1.5rem;
      font-weight: 500;
      background-image: url(/src/assets/images/search.svg);
      background-repeat: no-repeat;
      background-size: 2.1rem 2.1rem;
      background-position: left 0rem top 0.65rem;
      padding: 1rem 1rem 1rem 3.5rem;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;

      &::placeholder {
        opacity: 1;
      }
    }
  }

  .filter {
    width: 21.7rem;
    border: 0.1rem solid #f0f0f0;
    border-radius: 1rem;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: top 2rem right 1.5rem;
    padding: 0.7rem 1.5rem;
    padding-left: 0.5rem;
    background-size: 1rem;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;

    select {
      border: 0;
      outline: none;
      cursor: pointer;
      font-size: 1.5rem;
      color: #25396f;
      font-weight: 500;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      display: block;
      width: 100%;
      padding: 1rem 0rem;
      padding-left: 1rem;
      background-color: transparent;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
    }
  }
}

.notification {
  display: flex;
  align-items: center;
  gap: 4rem;

  .searchicon {
    display: none;
  }

  .bell {
    position: relative;

    .notifill-item a {
      display: block;
      padding: 1rem 1.5rem;
      transform: all 0.2s ease;
      border-bottom: 1px solid #e8e8e8;
      -webkit-transform: all 0.2s ease;
      -moz-transform: all 0.2s ease;

      &:hover {
        background-color: #e8e8e8;
      }
    }

    .notiOne {
      p#min {
        color: #333;
        opacity: 0.7;
        font-size: 13px;
        margin-left: 3.8rem;
        margin-top: 0.5rem;
      }
    }

    .notificationdrop {
      position: absolute;
      width: 30rem;
      background-color: #fff;
      top: 3.8rem;
      right: -2rem;
      z-index: 9;
      border-radius: 1rem;
      box-shadow: 0px 0px 1.3rem 0.5rem rgba(0, 0, 0, 0.06);
      transform: scaleY(0);
      opacity: 0;
      visibility: hidden;
      transform-origin: top;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;

      &:after {
        content: "";
        display: block;
        width: 0.2rem;
        height: 0.2rem;
        border-left: 0.8rem solid transparent;
        border-bottom: 0.8rem solid #fff;
        position: absolute;
        right: 1.9rem;
        top: -0.9rem;
        border-right: 0.8rem solid transparent;
      }
    }

    .notiheading h5 {
      font-size: 1.3rem;
      font-weight: 600;
      padding: 1rem 1.5rem;
      border-bottom: 1px solid #d6d4d4;
    }

    .notiOneTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
    }

    .notiOnetopLeft {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      img {
        display: inline-block;
        width: 2.5rem;
        opacity: 0.6;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
      }

      p {
        font-size: 1.4rem;
        color: #000;
      }
    }

    .notionearrow {
      img {
        display: inline-block;
        width: 1.8rem;
        opacity: 0.6;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
      }
    }
  }

  button {
    display: inline-block;
    border: 0;
    outline: none;
    background-color: transparent;
    position: relative;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;

    img {
      display: inline-block;
      width: 2rem;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
    }

    span {
      display: inline-block;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      border: 0.2rem solid #fff;
      background-color: #ff6e91;
      position: absolute;
      right: 0.2rem;
      top: -0.2rem;
    }
  }

  .profilePic {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;

    .profilesubMenu {
      position: absolute;
      width: 16rem;
      background-color: #fff;
      top: 5.8rem;
      left: 0;
      z-index: 9;
      border-radius: 1rem;
      box-shadow: 0px 0px 1.3rem 0.5rem rgba(0, 0, 0, 0.06);
      padding: 2rem 0px;
      transform: scaleY(0);
      opacity: 0;
      visibility: hidden;
      transform-origin: top;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;

      &:after {
        content: "";
        display: block;
        width: 0.2rem;
        height: 0.2rem;
        border-left: 0.8rem solid transparent;
        border-bottom: 0.8rem solid #fff;
        position: absolute;
        left: 1.9rem;
        top: -0.9rem;
        border-right: 0.8rem solid transparent;
      }

      ul li a {
        font-size: 1.4rem;
        display: block;
        color: #000;
        padding: 0.4rem 1.2rem;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;

        &:hover {
          background-color: #e8e8e8;
        }

        img {
          display: inline-block;
          width: 2rem;
          margin-right: 10px;
          opacity: 0.6;
        }
      }
    }

    img {
      display: inline-block;
      width: 4.6rem;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
    }

    .profileDetails {
      text-align: left;
      h5 {
        color: #25396f;
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 0;
      }

      p {
        font-size: $smtextLg;
        font-weight: 500;
        color: #7c8db5;
      }
    }
  }
}

// -- header area end --

// -- main-left area start --

main {
  overflow: hidden;
  border-top: 1px solid #f6f6f6;
}

.mainWrapper {
  display: flex;
}

.main-left {
  width: 25.1rem;
  border-right: 1px solid #f0f0f0;
  padding: 3.3rem 3.2rem;

  .main-left-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0rem 6.5rem;

    .mainleftItem {
      text-align: center;
      margin-bottom: 1.6rem;

      p {
        color: #7987a5;
        text-align: center;
        font-size: $smtext;
        margin-top: 1.6rem;
      }

      &:hover p {
        color: $activeColor;
      }

      &:hover .itemIcon {
        background-color: $primaryColor;
      }

      &:hover img {
        filter: brightness(0) saturate(100%) invert(78%) sepia(5%)
          saturate(236%) hue-rotate(186deg) brightness(113%) contrast(112%);
      }
    }

    .itemIcon {
      width: 5rem;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      background-color: $iconBg;
      border-radius: 1rem;
      position: relative;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;

      img {
        width: 2.4rem;
      }

      &:after {
        content: "";
        display: block;
        width: 2.3rem;
        height: 2.2rem;
        background-image: url(../images/active.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        position: absolute;
        right: 0rem;
        top: 0rem;
        opacity: 0;
        visibility: hidden;
      }
    }

    .active .itemIcon {
      background-color: $primaryColor;
    }

    .active {
      p {
        color: $activeColor;
      }
    }

    .active .itemIcon:after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.mainleftItem:hover .itemIcon:after {
  opacity: 1;
  visibility: visible;
}

.main-left-bottom {
  margin-top: 6.2rem;
}

.used {
  margin-top: 11.5rem;
  h3 {
    color: #25396f;
    font-family: DM Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;

    span {
      font-weight: 500;
    }
  }

  p {
    color: #25396f;
    font-family: DM Sans;
    font-size: $smtextLg;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
  }

  .usedbar {
    width: 100%;
    height: 0.8rem;
    background-color: #f6f9ff;
    border-radius: 0.6rem;
    margin-top: 1.2rem;

    span {
      display: block;
      width: 80%;
      height: 100%;
      background-color: #ff6e91;
      border-radius: 0.6rem;
    }
  }
}

.addMore {
  position: relative;
  z-index: 9;

  &:after {
    content: "";
    display: block;
    width: 85%;
    position: absolute;
    height: 100%;
    left: 18px;
    top: 8px;
    border-radius: 1.3rem;
    opacity: 0.5;
    background: #cfc8ff;
    z-index: -1;
  }
  a {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 1.3rem;
    background: $primaryColor;
    padding: 1.4rem 3.5rem;
    margin-top: 6.1rem;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;

    &:hover {
      background: #4c35e5;
    }
  }
}
// -- main-left area end --

// -- mainMiddle area start --
.mainMiddile {
  width: 80rem;
  padding: 3.3rem 0rem;
  overflow: hidden;
}

.swiper {
  width: 100%;
}

.middileSlider {
  width: 108%;
}

.slideOne {
  border-radius: 1rem;
  background: #f6f5ff;
  padding: 2.1rem;
  margin-bottom: 14rem;
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px
      rgba(158, 160, 249, 0.02),
    0px 8.148148536682129px 6.518518447875977px 0px rgba(158, 160, 249, 0.03),
    0px 20px 13px 0px rgba(158, 160, 249, 0.04),
    0px 38.51852035522461px 25.481481552124023px 0px rgba(158, 160, 249, 0.04),
    0px 64.81481170654297px 46.85185241699219px 0px rgba(158, 160, 249, 0.05),
    0px 100px 80px 0px rgba(158, 160, 249, 0.07);
  width: 19.3rem;

  .fileIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    img#ficon {
      display: inline-block;
      width: 4rem;
    }

    button {
      display: inline-block;
      border: 0;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      position: relative;
      left: 1rem;
      padding: 0rem 0.5rem;

      img {
        display: inline-block;
        width: 0.4rem;
      }
    }

    .dropdown {
      position: absolute;
      width: 88%;
      background-color: #fff;
      border-radius: 0.8rem;
      box-shadow: 0px 0px 1.3rem 0.5rem rgba(0, 0, 0, 0.06);
      padding: 1.5rem;
      top: -0.2rem;
      right: 1.9rem;
      transform: scaleY(0);
      opacity: 0;
      visibility: hidden;
      transform-origin: top;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;

      ul li a {
        font-size: $smtextLg;
        color: #25396f;
        display: inline-block;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;

        &:hover {
          opacity: 0.7;
        }
      }

      &:after {
        content: "";
        display: block;
        width: 0.2rem;
        height: 0.2rem;
        border-left: 0.8rem solid #fff;
        border-top: 0.8rem solid transparent;
        border-bottom: 0.8rem solid transparent;
        position: absolute;
        right: -0.8rem;
        top: 1.4rem;
      }
    }
  }

  .fileCnt {
    margin-top: 2.1rem;

    h4 {
      color: #505887;
      font-size: 1.8rem;
      font-weight: 400;
    }

    .space {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.3rem;

      p {
        color: #718ebf;
        font-size: $smtext;
      }
    }
  }
}

.slideOneWrapper {
  padding-left: 3.4rem;

  .slideTwo {
    background: #f5fffc;
    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px
        rgba(103, 207, 236, 0.02),
      0px 8.148148536682129px 6.518518447875977px 0px rgba(103, 207, 236, 0.03),
      0px 20px 13px 0px rgba(103, 207, 236, 0.04),
      0px 38.51852035522461px 25.481481552124023px 0px rgba(103, 207, 236, 0.04),
      0px 64.81481170654297px 46.85185241699219px 0px rgba(103, 207, 236, 0.05),
      0px 100px 80px 0px rgba(103, 207, 236, 0.07);
  }

  .slideThree {
    background: #fff9f0;
    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px
        rgba(253, 131, 66, 0.01),
      0px 8.148148536682129px 6.518518447875977px 0px rgba(253, 131, 66, 0.02),
      0px 20px 13px 0px rgba(253, 131, 66, 0.02),
      0px 38.51852035522461px 25.481481552124023px 0px rgba(253, 131, 66, 0.02),
      0px 64.81481170654297px 46.85185241699219px 0px rgba(253, 131, 66, 0.03),
      0px 100px 80px 0px rgba(253, 131, 66, 0.04);
  }

  .slideFour {
    background: #fff5f5;
    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px
        rgba(255, 125, 125, 0.02),
      0px 8.148148536682129px 6.518518447875977px 0px rgba(255, 125, 125, 0.03),
      0px 20px 13px 0px rgba(255, 125, 125, 0.04),
      0px 38.51852035522461px 25.481481552124023px 0px rgba(255, 125, 125, 0.04),
      0px 64.81481170654297px 46.85185241699219px 0px rgba(255, 125, 125, 0.05),
      0px 100px 80px 0px rgba(255, 125, 125, 0.07);
  }
}

.access {
  margin-top: -9rem;
  position: relative;
  z-index: 1;
  padding: 0rem 3.4rem;

  .accessBlock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0rem 1.8rem;

    .accessblockOne {
      margin-top: 1.9rem;
      position: relative;
      overflow: hidden;
      border-radius: 1.6rem;

      img.thumbnail {
        display: block;
        width: 100%;
        border-radius: 1.6rem;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
      }

      &:hover img.thumbnail {
        transform: scale(1.4);
      }

      .imgCaption {
        border-radius: 0rem 0rem 1.5rem 1.5rem;
        background: #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: DM Sans;
        padding: 1.7rem 1rem;
        gap: 0.6rem;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;

        img {
          display: inline-block;
          width: 2.2rem;
          height: 2.2rem;
          object-fit: cover;
        }

        p {
          color: #25396f;
          font-family: DM Sans;
          font-size: $smtextLg;
          font-weight: 700;

          span {
            display: inline-block;
            color: #7c8db5;
            font-size: $smtext;
          }
        }
      }
    }
  }
}

.accessheading h3 {
  color: #505887;
  font-size: 1.9rem;
  font-weight: 700;
}

.upload {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0rem 3.4rem;
}

.uploadblock {
  margin-top: 1.7rem;
}

.uploadLeftOne {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .uploadOneLeft {
    @extend .uploadLeftOne;
    justify-content: flex-start;
    gap: 1.4rem;

    .uploadOneimg img {
      display: inline-block;
      width: 4.4rem;
      border-radius: 1rem;
    }

    .uploadOnepara {
      position: relative;
      top: 0.2rem;
      p {
        color: #505887;
        font-size: $smtextLg;
        font-weight: 500;
      }

      span {
        color: #718ebf;
        font-size: 1rem;
        font-weight: 500;
        display: inline-block;
        margin-top: -1.2rem;
      }
    }
  }

  .uploadOneRight p {
    color: #718ebf;
    font-size: 1rem;
    font-weight: 500;
  }
}

.uploadRight {
  padding-left: 8rem;
}

.fileheading {
  @extend .uploadLeftOne;
  position: relative;

  button {
    display: inline-block;
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    img {
      display: inline-block;
      width: 3.2rem;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .fileDrop {
    position: absolute;
    width: 65%;
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 1.3rem 0.5rem rgba(0, 0, 0, 0.06);
    padding: 1.5rem;
    top: 3.5rem;
    right: 0;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    transform-origin: top;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;

    &:after {
      content: "";
      display: block;
      width: 0.2rem;
      height: 0.2rem;
      border-left: 0.8rem solid transparent;
      border-bottom: 0.8rem solid #fff;
      position: absolute;
      right: 0.5rem;
      top: -0.9rem;
      border-right: 0.8rem solid transparent;
    }

    ul li a {
      font-size: $smtextLg;
      color: #25396f;
      display: inline-block;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.uploadBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0rem 2.6rem;

  .uploadOne {
    border-radius: 0.9rem;
    padding: 1.4rem;
    background: #ebedfb;
    margin-top: 2rem;

    img {
      display: block;
      width: 1.7rem;
      height: 1.8rem;
    }
  }

  .uploadOnecnt {
    h4 {
      color: #000;
      font-size: $smtextLg;
      font-weight: 500;
      margin: 0.8rem 0rem;
    }

    p {
      color: #757575;
      font-family: Poppins;
      font-size: 0.9rem;
      font-weight: 400;
    }
  }
}

.uploadButton a {
  display: block;
  color: $primaryColor;
  font-family: Sofia Pro;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 0.5rem;
  background: #dee1e6;
  padding: 1.2rem 0.5rem;
  margin-top: 1.8rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;

  &:hover {
    background-color: $primaryColor;
    color: #fff;
  }
}

.upload {
  margin-top: 7rem;
}
// -- mainMiddle area end --

// -- mainLeft area start --
.mainRight {
  width: 38.6rem;
  padding: 0rem 3rem;
  background-color: #fafbfd;
}

#myChart {
  width: 34.5rem !important;
  height: 18rem !important;
}

.chartWrapper {
  margin-left: -12px;
}

.chartStateheading h3 {
  color: #25396f;
  font-family: DM Sans;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 4.2rem;
}

.newfile {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 6rem;
}

.ad {
  margin-top: 2rem;

  .flower {
    position: relative;
    z-index: 9;
    left: -4.4rem;

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: #f5f3fe;
      position: absolute;
      left: 4.4rem;
      top: 3.3rem;
      border-radius: 1rem;
      z-index: -1;
      border: 0.2rem dashed #d0c9ff;
    }

    img {
      display: block;
      width: 100%;
      border-radius: 1rem;
    }

    .flower_content {
      padding: 1.4rem 2.3rem;
      position: absolute;
      left: 0;
      top: 0;

      p {
        color: #dee1e6;
        font-family: Sofia Pro;
        font-size: 1.6rem;
      }

      a {
        display: inline-block;
        color: $primaryColor;
        font-family: Sofia Pro;
        font-size: 1.4rem;
        padding: 1rem 1.6rem;
        background-color: #84e8f4;
        border-radius: 0.5rem;
        margin-top: 1.1rem;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.chartState {
  margin-top: 5rem;
}

.show {
  transform: scaleY(1) !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.hamburgur button img {
  display: none !important;
  width: 2.5rem !important;
  opacity: 0.7;
}

.searchInputBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 0px 1.3rem 1rem rgba(0, 0, 0, 0.06);
  border-radius: 5rem;
  position: absolute;
  width: 92%;
  left: 1.2rem;
  top: 2.5rem;
  padding: 0.5rem 1.2rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

.searchInputBox {
  .inputbox {
    width: 100%;
    padding-right: 1rem;
  }
}

input {
  display: inline-block;
  width: 100%;
  border: 0;
  outline: none;
  padding: 0.8rem 0rem;
  padding-left: 2rem;
  background-image: url(/src/assets/images/search.svg);
  background-repeat: no-repeat;
  background-size: 1.3rem;
  background-position: top 9px left 0px;
}

.cross button {
  display: inline-block;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.cross button img {
  display: inline-block;
  width: 2.4rem;
}

.showSearch {
  opacity: 1;
  visibility: visible;
  top: -2px;
}

.notili {
  height: 35rem;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
}

.notili::-webkit-scrollbar {
  width: 7px;
}

.notili::-webkit-scrollbar-track {
  background: transparent;
}

.notili::-webkit-scrollbar-thumb {
  background: #a5b6c5;
  border-radius: 5px;
}

.sticky-header {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999999;
  padding: 1.4rem 0rem;
  box-shadow: 0px 1px 1.3rem 0.5rem rgba(0, 0, 0, 0.06);

  .logo a {
    img {
      width: 2.5rem;
    }
    span {
      font-size: 1.4rem;
    }
  }

  .searchInput input {
    font-size: 1.2rem;
    background-size: 1.6rem 1.6rem;
    background-position: left 0rem top 4px;
    padding: 0.6rem 1rem 0.6rem 3.5rem;
  }

  .filter {
    background-position: top 1.6rem right 1.5rem;

    select {
      font-size: 1.2rem;
      padding: 0.5rem 0rem;
      padding-left: 1rem;
    }
  }

  .notification button img {
    width: 1.6rem;
  }

  .notification .profilePic img {
    width: 2.6rem;
  }

  .notification .profilePic .profilesubMenu {
    top: 4rem;
    left: -15px;
  }
}

.leftheading {
  display: none;

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;

    a img {
      display: inline-block;
      width: 15rem;
    }

    button {
      display: inline-block;
      border: 0;
      outline: none;
      background-color: transparent;

      img {
        display: inline-block;
        width: 2.5rem;
        filter: brightness(0) saturate(100%) invert(14%) sepia(58%)
          saturate(4328%) hue-rotate(239deg) brightness(96%) contrast(88%);
      }
    }
  }
}

// -- mainLeft area end --
